//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap";
@import "font-awesome";

.body-container {
    top: 65px;
    position: relative;
}

.fa-btn {
    margin-right: 5px;
}

.table-tools-column {
    width: 30px;
    text-align: center;
}

.table-delete-button {
    border: none;
    background-color: transparent;
}